@inject HttpClient Http
@inject NavigationManager NavigationManager

@page "/AddTransaction/{type}"
@page "/AddTransaction/{type}/{parentId:int}"

<h3>Add Transaction Page</h3>

<EditForm Model="@transaction" OnSubmit="SubmitTransaction">
    <InputDate id="purchaseDate" @bind-Value="transaction.PurchaseDate" />

    <InputText id="description" @bind-Value="transaction.Description" />

    <InputNumber id="amount" @bind-Value="transaction.Amount" />

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    [Parameter]
    public string type { get; set; }

    [Parameter]
    public int parentId { get; set; }


    private TransactionDTO transaction;

    protected override void OnParametersSet()
    {
        TransactionTypes typeEnum;

        if (Enum.TryParse<TransactionTypes>(type, true, out typeEnum))
        {
            //TODO Add validation
            transaction = new TransactionDTO()
            {
                ParentId = parentId,
                TransactionType = (int)typeEnum
            };
        }
        else
        {
            //TODO add logging
            System.Diagnostics.Debug.WriteLine("Invalid type on Add Transaction Page");
        }
    }

    private async void SubmitTransaction()
    {

        await Http.PostAsJsonAsync<TransactionDTO>(ControllerRouting.Transaction, transaction);
        NavigationManager.NavigateTo($"/{parentId}/{type}");
    }
}
