@inject HttpClient Http
@inject NavigationManager NavigationManager

@page "/EditTransaction/{transactionId:int}"

<h3>EditTransactionPage</h3>

<EditForm Model="@transaction" OnSubmit="SubmitTransaction">
    <InputDate id="purchaseDate" @bind-Value="transaction.PurchaseDate" />

    <InputText id="description" @bind-Value="transaction.Description" />

    <InputNumber id="amount" @bind-Value="transaction.Amount" />

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    [Parameter]
    public int transactionId { get; set; }

    private TransactionDTO transaction = new TransactionDTO();

    protected override async Task OnParametersSetAsync()
    {
        transaction = await Http.GetFromJsonAsync<TransactionDTO>(ControllerRouting.Transaction + $"/ById/?id={transactionId}");
    }

    private async void SubmitTransaction()
    {
        await Http.PutAsJsonAsync<TransactionDTO>(ControllerRouting.Transaction, transaction);
        
        System.Diagnostics.Debug.WriteLine($"/{transaction.ParentId}/{((TransactionTypes)transaction.TransactionType).ToString()}");

        NavigationManager.NavigateTo($"/{transaction.ParentId}/{((TransactionTypes)transaction.TransactionType).ToString()}");
    }
}
