@inject HttpClient Http
@inject NavigationManager NavigationManager

@page "/EditTransaction/{type}/{transactionId:int}"

<h3>EditTransactionPage</h3>

<EditForm Model="@transactionModel" OnSubmit="SubmitTransaction">
    <InputDate id="purchaseDate" @bind-Value="transactionModel.PurchaseDate" />

    <InputText id="description" @bind-Value="transactionModel.Description" />

    <InputNumber id="amount" @bind-Value="transactionModel.Amount" />

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    [Parameter]
    public string type { get; set; }

    [Parameter]
    public int transactionId { get; set; }

    private TransactionDTO transactionModel = new TransactionDTO();

    protected override async Task OnInitializedAsync()
    {
        transactionModel = await Http.GetFromJsonAsync<TransactionDTO>(ControllerRouting.Transaction + "/ById/?id=" + transactionId);
    }

    private async void SubmitTransaction()
    {

        await Http.PutAsJsonAsync<TransactionDTO>(ControllerRouting.Transaction, transactionModel);
        NavigationManager.NavigateTo($"/{type}");
    }
}
