@using BudgeterShared 
@using Budgeter.Client.Helpers
@inject HttpClient Http

@page "/Income/ExpensesOverview/Expenses"

<h2>Expenses Page</h2>

<table class="table">
    <thead>
        <tr>
            <td>Date</td>
            <td>Description</td>
            <td>Amount</td>
        </tr>
    </thead>

    <tbody>
        @foreach (TransactionDTO expense in expenses)
        {
            <tr>
                <td>
                    @expense.PurchaseDate.ToShortDateString()
                </td>

                <td>
                    @expense.Description
                </td>

                <td>
                    @expense.Amount
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    IEnumerable<TransactionDTO> expenses = Enumerable.Empty<TransactionDTO>();

    protected override async Task OnInitializedAsync()
    {
        expenses = await Http.GetFromJsonAsync<IEnumerable<TransactionDTO>>(ControllerRouting.Transaction);
    }
}
