@using Budgeter.Shared
@using Budgeter.Client.Helpers
@inject HttpClient Http

@page "/"

<h2>IncomePage</h2>

<table class="table">
    <thead>
        <tr>
            <td>Date</td>
            <td>Description</td>
            <td>Amount</td>
        </tr>
    </thead>

    <tbody>
        @*@foreach (TransactionDTO income in incomes)
        {
            <tr>
                <td>
                    @income.Date.ToShortDateString()
                </td>

                <td>
                    @income.Description
                </td>

                <td>
                    @income.Amount
                </td>
            </tr>
        }*@
    </tbody>
</table>

@code {
    //IEnumerable<TransactionDTO> incomes = Enumerable.Empty<TransactionDTO>();

    //protected override async Task OnInitializedAsync()
    //{
    //    incomes = await Http.GetFromJsonAsync<IEnumerable<TransactionDTO>>(Controllers.ExpenseTable);
    //}
}
